<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cheney.dao.CustomDao" >
  <resultMap id="CustomResultMap" type="Custom" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="phoneNo" property="phoneNo" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="customStatu" property="customStatu" jdbcType="VARCHAR" />
    <result column="createDate" property="createDate" jdbcType="DATE" />
    <result column="nviteName" property="nviteName" jdbcType="VARCHAR" />
  </resultMap>
  
  <insert id="insertCustom" parameterType="com.cheney.entity.Custom" useGeneratedKeys="true">
  		<selectKey resultType="int" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID() AS id
    	</selectKey>
  		insert into custom(
  			name,
  			education,
  			phoneNo,
  			qq,
  			email,
  			customStatu,
  			createDate,
  			inviteName
  		)
  		VALUES(
  		#{name},
  		#{education},
  		#{phoneNo},
  		#{qq},
  		#{email},
  		#{customStatu},
  		#{createDate},
  		#{inviteName}
  		)
  </insert>
  
  <select id="queryCustom" parameterType="com.cheney.entity.Custom" resultMap="CustomResultMap">
  		SELECT id,name,education,phoneNo,qq,email,customStatu,createDate,inviteName
  		FROM custom
  		<where>
  			<if test="name !=null">
  			name Like #{name}
  			</if>
  			<if test="customStatu!=null">
  			customStatu = #{customStatu}
  			</if>
  			<if test="inviteName!=null">
  			inviteName Like #{inviteName}
  			</if>
  			<if test="phoneNo!=null">
  			phoneNo Like #{phoneNo}
  			</if>
  			<if test="createDate !=null">
  			createDate=#{createDate}
  			</if>
  		</where>
  </select>
  
  <update id="updateCustom" parameterType="com.cheney.entity.Custom">
   update custom
   <set>
   <if test="name!=null || ''.equals(name)">
   	name =#{name},
   </if>
   <if test="education!=null || ''.equals(education)">
   	education=#{education},
   </if>
   <if test="phoneNo!=null || ''.equals(phoneNo)">
    phoneNo=#{phoneNo},
    </if>
    <if test="qq !=null">
  	qq=#{qq},
  	</if>
  	<if test="email!=null ||''.equals(email)">
  	email=#{email},
  	</if>
  	<if test="customStatu!=null ||''.equals(customStatu)">
  	customStatu=#{customStatu},
  	</if>
  	<if test="createDate!=null">
  	createDate=#{createDate},
  	</if>
  	<if test="inviteName!=null || ''.equals(inviteName)">
  	inviteName=#{inviteName}
  	</if>
   </set>
   <where>
   id=#{id}
   </where>
  </update>
  
  <select id="selectIdsByStatus" resultType="Integer">
  	SELECT id from custom
	where
  	customStatu = #{customStatu}
  </select>
  
  
  <update id="updateTOSalse">
  	UPDATE custom
  	<set>
  		customStatu = '2'
  	</set>
  	<where>
  	id in 
  	<foreach collection="array" item="id" open="(" separator="," close=")" >    
            #{id}    
    </foreach>
  	</where>
  
  </update>
  <insert id="insertCustoms">
  insert into custom(
  			name,
  			education,
  			phoneNo,
  			qq,
  			email,
  			customStatu,
  			createDate,
  			inviteName
  		)
  		VALUES
  		
  		<foreach collection="customs" item="custom" separator=",">
  		(#{custom.name},
  		#{custom.education},
  		#{custom.phoneNo},
  		#{custom.qq},
  		#{custom.email},
  		#{custom.customStatu},
  		#{custom.createDate},
  		#{custom.inviteName})
  		</foreach>
  	</insert>
  
  <select id="queryAllCustom" resultMap="CustomResultMap">
  SELECT * FROM 
  custom
  </select>
  
  
  <select id="queryCustomByWeek" resultMap="CustomResultMap">
   	SELECT * FROM custom 
 	WHERE YEARWEEK(date_format(createDate,'%Y-%m-%d'))  = YEARWEEK(now())
  </select>
  
  <select id="queryCustomByMonth" resultMap="CustomResultMap">
  	SELECT * FROM custom 
 	WHERE date_format(createDate,'%Y-%m')=date_format(now(),'%Y-%m')
  
  </select>
  
  
</mapper>