<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cheney.dao.EmployeeDao" >
  <resultMap id="EmployeeResultMap" type="com.cheney.entity.Employee" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="pass" property="pass" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="jobInfoId" property="jobInfoId" jdbcType="INTEGER" />
    <result column="departmentId" property="departmentId" jdbcType="INTEGER" />
    <result column="phoneNo" property="phoneNo" jdbcType="VARCHAR" />
    <result column="officeTel" property="officeTel" jdbcType="VARCHAR" />
    <result column="workStatu" property="workStatu" jdbcType="VARCHAR" />
    <association property="department" javaType="com.cheney.entity.Department">
    	<id column="id" property="id" jdbcType="INTEGER" />
    	<result column="dname" property="dname" jdbcType="CHAR" />
    </association>
    <association property="jobInfo" javaType="com.cheney.entity.Jobinfo">
		<id column="id" property="id" jdbcType="INTEGER" />
	    <result column="job" property="job" jdbcType="CHAR" />
	    <result column="departmentId" property="departmentId" jdbcType="INTEGER" />
    </association>
    
    
  </resultMap>
  
  <resultMap type="java.util.Map" id="employeeInfoMap">
 <!--  E.id,E.nickname,E.realname,E.phoneNo,E.officeTel,D.dname,J.job  -->
  	<id column="id" property="id" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="phoneNo" property="phoneNo" jdbcType="VARCHAR" />
    <result column="officeTel" property="officeTel" jdbcType="VARCHAR" />
    <result column="dname" property="dname" jdbcType="CHAR" />
    <result column="job" property="job" jdbcType="CHAR" />
  </resultMap>
  
  
  <select id="selectEmployee" resultMap="EmployeeResultMap">
  	SELECT * FROM employee
  	<where>
  		<if test="username !=null">
  		username = #{username}
  		</if>
  		<if test="pass !=null">
  		AND pass = #{pass}
  		</if>
  		<if test="workStatu !=null">
  		AND workStatu =#{workStatu}
  		</if>
  	</where>
  	
  	
  	
  </select>
  <select id="queryByJobInfo" resultMap="EmployeeResultMap">
 	SELECT * FROM employee
 	WHERE
 	jobinfoid = #{jobInfoId}
  </select>
  
  <select id="selectAllEmployee" resultMap="EmployeeResultMap">
  	SELECT E.id,E.nickname,E.realname,E.phoneNo,E.officeTel,D.dname,J.job 
  	FROM employee E
  	LEFT JOIN department D ON E.departmentId = D.id
  	LEFT JOIN jobInfo J ON E.jobInfoId = J.id
  </select>
  
  <select id="selectEmployBydepaartmentId" resultMap="EmployeeResultMap">
  	select * From employee
  	<if test="departmentId!=null">
  	where departmentId = #{departmentId}
  	AND jobInfoId = #{jobInfoId}
  	</if>
  </select>
  
  <select id="queryByDeptId" resultMap="EmployeeResultMap">
  	SELECT * from employee
  	<where>
  	<if test="deptId !=0">
  	departmentId = #{deptId}
  	</if>
  	<if test="managerId !=0">
  	AND id != #{managerId}
  	</if>
  	</where>
  </select>
  <select id="queryById" resultMap="EmployeeResultMap">
  	SELECT * FROM employee
  	<where>
  	id = #{id}
  	</where>
  
  
  </select>
  <select id="queryIdsByDeptId" resultType="Integer">
  	SELECT id FROM employee
  	<where>
  	<if test="deptId!= 0 || deptId!=null">
  	departmentId=#{deptId}
  	</if>
  	</where>
  </select>
  
  
  <insert id="addUser" parameterType="com.cheney.entity.Employee">
  	INSERT INTO employee(
  	username,
  	pass,
  	nickname,
  	realname,
  	jobInfoId,
  	departmentId,
  	phoneNo,
  	officeTel,
  	workStatu
  	)
  	VALUES(
  	#{username},
  	#{pass},
  	#{nickname},
  	#{realname},
  	#{jobInfoId},
  	#{departmentId},
  	#{phoneNo},
  	#{officeTel},
  	#{workStatu}
  	)
  </insert>
  
  <update id="updateUser" parameterType="com.cheney.entity.Employee">
  	UPDATE EMPLOYEE
  	<set>
  	<if test="pass!=null">
  	pass = #{pass},
  	</if>
  	<if test="workStatu!=null">
  	workStatu=#{workStatu}
  	</if>
  	</set>
  	<where>
  	id=#{id}
  	
  	</where>
  </update>
  
  <select id="queryAllEmployee" resultMap="employeeInfoMap">
  	SELECT E.id,E.nickname,E.realname,E.phoneNo,E.officeTel,D.dname,J.job 
  	FROM employee E
  	LEFT JOIN department D ON E.departmentId = D.id
  	LEFT JOIN jobInfo J ON E.jobInfoId = J.id
  </select>
  
  <select id="queryEmployee" resultMap="EmployeeResultMap">
  SELECT username FROM employee
  <where>
  username=#{username}
  AND phoneNo = #{phoneNo}
  </where>
  </select>
  
  
  
  
</mapper>