<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cheney.dao.EmployeeDao" >
  <resultMap id="EmployeeResultMap" type="com.cheney.entity.Employee" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="pass" property="pass" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="jobInfoId" property="jobInfoId" jdbcType="INTEGER" />
    <result column="departmentId" property="departmentId" jdbcType="INTEGER" />
    <result column="phoneNo" property="phoneNo" jdbcType="VARCHAR" />
    <result column="officeTel" property="officeTel" jdbcType="VARCHAR" />
    <result column="workStatu" property="workStatu" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectByNameAndPass" resultMap="EmployeeResultMap">
  	SELECT * FROM employee
  	WHERE
  	username = #{username}
  	AND
  	pass = #{pass}
  </select>
  
  
  
  
  
  
  
</mapper>