<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cheney.dao.JobinfoDao" >
  <resultMap id="JobinfoResultMap" type="Jobinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="job" property="job" jdbcType="CHAR" />
    <result column="departmentId" property="departmentId" jdbcType="INTEGER" />
  </resultMap>
  <select id="queryAllJobinfo" resultMap="JobinfoResultMap">
  	SELECT * FROM jobInfo
  	<where>
  	<if test="departmentId!=null">
  		departmentId=#{departmentId}
  	</if>
  	
  	</where>
  
  </select>
  <select id="queryjobinfo" resultMap="JobinfoResultMap">
  select * FROM jobInfo
  WHERE
  job =#{job}
  </select>
  
  <insert id="insert" parameterType="com.cheney.entity.Jobinfo">
  INSERT INTO jobInfo(
  job,
  departmentId
  )
  VALUES(
  #{job},
  #{departmentId}
  )
  </insert>
  
  <update id="update" parameterType="com.cheney.entity.Jobinfo">
  
  UPDATE jobInfo
  <set>
  <if test="job!=null">
  job=#{job},
  </if>
  <if test="departmentId!=null">
  departmentId=#{departmentId}
  </if>
  </set>
  <where>
  id=#{id}
  </where>
  </update>
  <delete id="delete">
  DELETE FROM jobInfo
  WHERE
  id=#{id}
  
  
  </delete>
  
  
  
  
  
</mapper>