<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cheney.dao.customMapper" >
  <resultMap id="BaseResultMap" type="com.cheney.entity.custom" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="phoneNo" property="phoneNo" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="customStatu" property="customStatu" jdbcType="VARCHAR" />
    <result column="createDate" property="createDate" jdbcType="DATE" />
    <result column="nviteName" property="nviteName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, education, phoneNo, qq, email, customStatu, createDate, nviteName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from custom
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from custom
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cheney.entity.custom" >
    insert into custom (id, name, education, 
      phoneNo, qq, email, 
      customStatu, createDate, nviteName
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, 
      #{phoneNo,jdbcType=VARCHAR}, #{qq,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, 
      #{customStatu,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}, #{nviteName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cheney.entity.custom" >
    insert into custom
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="phoneNo != null" >
        phoneNo,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="customStatu != null" >
        customStatu,
      </if>
      <if test="createDate != null" >
        createDate,
      </if>
      <if test="nviteName != null" >
        nviteName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null" >
        #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="customStatu != null" >
        #{customStatu,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="nviteName != null" >
        #{nviteName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cheney.entity.custom" >
    update custom
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null" >
        phoneNo = #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="customStatu != null" >
        customStatu = #{customStatu,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        createDate = #{createDate,jdbcType=DATE},
      </if>
      <if test="nviteName != null" >
        nviteName = #{nviteName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cheney.entity.custom" >
    update custom
    set name = #{name,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      phoneNo = #{phoneNo,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      customStatu = #{customStatu,jdbcType=VARCHAR},
      createDate = #{createDate,jdbcType=DATE},
      nviteName = #{nviteName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>